BACKUP_CRON=0 3 * * *
TZ=Asia/Taipei
RUN_ON_START=true
LOG_LEVEL=INFO

S3_ENDPOINT=http://nas-name.tailnet-name.ts.net:9000
S3_ACCESS_KEY=change-me
S3_SECRET_KEY=change-me
S3_BUCKET=postgres-backups
S3_REGION=us-east-1
S3_PREFIX=caprover
S3_FORCE_PATH_STYLE=true
S3_SECURE=false

DATABASES_JSON=[{"name":"app1","host":"100.x.x.x","port":5432,"database":"app1_db","username":"postgres","password":"change-me"}]
